<div class="container">
  <div class="leftPanel">
      <div class="filters">
          <mat-form-field>
              <mat-select placeholder="City">
                <mat-option *ngFor="let city of beerService.regions" [value]="city.city">
                  {{ city.city }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Style">
                  <mat-option *ngFor="let beer of beerService.beers" [value]="beer.style">
                    {{ beer.style }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="buttonHolder">
              <button mat-button>Filter</button>
            </div>
      </div>
  </div>
  <div class="rightPanel">
    <div class="list">
        <div class="example-container">
            <table mat-table #table [dataSource]="beerService.beers">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td (click)="check(element.name)" mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="style">
                    <th mat-header-cell *matHeaderCellDef> Style </th>
                    <td mat-cell *matCellDef="let element"> {{element.style}} </td>
                  </ng-container>

                  <ng-container matColumnDef="abv">
                    <th mat-header-cell *matHeaderCellDef> ABV&ensp;</th>
                    <td mat-cell *matCellDef="let element"> {{element.abv}} </td>
                  </ng-container>

                  <ng-container matColumnDef="blg">
                      <th mat-header-cell *matHeaderCellDef> BLG&ensp;</th>
                      <td mat-cell *matCellDef="let element"> {{element.blg}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ibu">
                      <th mat-header-cell *matHeaderCellDef> IBU&ensp;</th>
                      <td mat-cell *matCellDef="let element"> {{element.ibu}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="left">
                        <th mat-header-cell *matHeaderCellDef> Left&nbsp; </th>
                        <td mat-cell *matCellDef="let element"> {{element.left}} </td>
                      </ng-container>

                    <ng-container matColumnDef="price">
                          <th mat-header-cell *matHeaderCellDef> Price </th>
                          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </div>
    </div>
    <div class="paginator">
      
    </div>
  </div>
</div>
