<div class="container"> 
  <div class="details">
    <div class="frame">
      <div class="info">Style: {{beerService.beer.style}}</div>
      <div class="info">Name: {{beerService.beer.name}}</div>
      <div class="info">ABV: {{beerService.beer.abv}}</div>
      <div class="info">BLG: {{beerService.beer.blg}}</div>
      <div class="info">IBU: {{beerService.beer.ibu}}</div>
      <div class="info">Date: {{beerService.beer.date}}</div>
      <div class="info">Left: {{beerService.beer.left}}</div>
      <div>{{beerService.beer.desc}}</div>
      <div class="buttons">
      </div>
    </div>
  </div>
</div>