.image {
    width: 40%;
    margin: 0 auto;
    margin-left: 5%;
}

.form {
    float: right;
    margin-right: 5%;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    padding: 3%;  
    width: 30%;
}

.container {
    margin-top: 5%;
}

.text {
    text-align: center;
    color: #33691E;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}